/* player recirc */
#player_recirc {
  display: block;
  width: 960px;
  height: 540px;
  background-color: #000;
  padding: 20px;
  color: #ddd;
}
#player_recirc a {
  color: #ddd;
}
#player_recirc .watchagain {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #fff;
}
#player_recirc .watchagain a {
  font-weight: 900;
  font-size: 14px;
  color: #00693E;
}
#player_recirc .nextup {
  float: left;
  width: 320px;
  font-size: 18px;
}
#player_recirc .nextup,
#player_recirc .nextup a,
#player_recirc .nextup p {
  font-weight: 900;
}
#player_recirc .nextup p {
  padding: 5px 0 5px 0;
}
#player_recirc .circrelate {
  float: right;
  width: 260px;
  margin-top: 10px;
}
#player_recirc .circrelate ul {
  clear: both;
}
#player_recirc .circrelate li {
  clear: both;
}
#player_recirc .circrelate p {
  float: left;
  width: 125px;
  margin: 0 0 10px 5px;
}